<div>
  <div class="text-center">
    <h1 class="text-3xl font-bold text-slate-900">Create Account</h1>

    <p class="mt-3 text-slate-500">
      Create your hospital account to start managing your healthcare platform.
    </p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="submit()" class="mt-8 space-y-5">
    <!-- Hospital -->

    <div>
      <label class="mb-2 block text-sm font-medium">
        Hospital / Clinic Name
      </label>

      <input
        formControlName="hospitalName"
        type="text"
        placeholder="MediCare Hospital"
        class="w-full rounded-xl border border-slate-300 px-4 py-3 focus:border-blue-600 focus:ring-4 focus:ring-blue-100 outline-none"
      />
    </div>

    <!-- Owner -->

    <div>
      <label class="mb-2 block text-sm font-medium"> Owner Name </label>

      <input
        formControlName="ownerName"
        type="text"
        placeholder="Dr. Ahmed Mohamed"
        class="w-full rounded-xl border border-slate-300 px-4 py-3 focus:border-blue-600 focus:ring-4 focus:ring-blue-100 outline-none"
      />
    </div>

    <!-- Email -->

    <div>
      <label class="mb-2 block text-sm font-medium"> Business Email </label>

      <input
        formControlName="email"
        type="email"
        placeholder="info@hospital.com"
        class="w-full rounded-xl border border-slate-300 px-4 py-3 focus:border-blue-600 focus:ring-4 focus:ring-blue-100 outline-none"
      />
    </div>

    <!-- Grid -->

    <div class="grid gap-5 md:grid-cols-2">
      <div>
        <label class="mb-2 block text-sm font-medium"> Phone </label>

        <input
          formControlName="phone"
          class="w-full rounded-xl border border-slate-300 px-4 py-3"
        />
      </div>

      <div>
        <label class="mb-2 block text-sm font-medium"> Country </label>

        <select
          formControlName="country"
          class="w-full rounded-xl border border-slate-300 px-4 py-3"
        >
          <option>Egypt</option>
          <option>Saudi Arabia</option>
          <option>UAE</option>
        </select>
      </div>
    </div>

    <!-- Password -->

    <div class="grid gap-5 md:grid-cols-2">
      <div>
        <label class="mb-2 block text-sm font-medium"> Password </label>

        <input
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
          class="w-full rounded-xl border border-slate-300 px-4 py-3"
        />
      </div>

      <div>
        <label class="mb-2 block text-sm font-medium"> Confirm Password </label>

        <input
          [type]="hideConfirmPassword() ? 'password' : 'text'"
          formControlName="confirmPassword"
          class="w-full rounded-xl border border-slate-300 px-4 py-3"
        />
      </div>
    </div>

    <!-- Password Strength -->

    <div>
      <div class="mb-2 flex justify-between text-sm">
        <span>Password Strength</span>

        <span class="text-green-600"> Strong </span>
      </div>

      <div class="h-2 rounded-full bg-slate-200">
        <div class="h-full w-3/4 rounded-full bg-green-500"></div>
      </div>
    </div>

    <!-- Terms -->

    <label class="flex items-start gap-3">
      <input type="checkbox" formControlName="terms" class="mt-1" />

      <span class="text-sm text-slate-600">
        I agree to the

        <a class="text-blue-600"> Terms & Conditions </a>
      </span>
    </label>

    <!-- Button -->

    <button
      class="w-full rounded-xl bg-blue-600 py-3 font-semibold text-white transition hover:bg-blue-700"
    >
      Create Account
    </button>
  </form>

  <div class="my-8 flex items-center">
    <div class="h-px flex-1 bg-slate-200"></div>

    <span class="mx-4 text-sm text-slate-400"> OR </span>

    <div class="h-px flex-1 bg-slate-200"></div>
  </div>

  <button
    class="flex w-full items-center justify-center gap-3 rounded-xl border border-slate-300 py-3 hover:bg-slate-50"
  >
    Continue with Google
  </button>

  <p class="mt-8 text-center text-sm text-slate-500">
    Already have an account?

    <a routerLink="/login" class="font-semibold text-blue-600"> Sign In </a>
  </p>
</div>
