<div>
  <label class="mb-2 block text-sm font-medium">
    {{ label() }}
  </label>

  <div class="relative">
    <input
      [formControl]="control()"
      [type]="show() ? 'text' : 'password'"
      [placeholder]="placeholder()"
      class="w-full rounded-xl border border-slate-300 px-4 py-3 pr-12 transition-all outline-none focus:border-blue-600 focus:ring-4 focus:ring-blue-100"
    />

    <button
      type="button"
      (click)="toggle()"
      class="absolute right-4 top-1/2 -translate-y-1/2 text-slate-500"
    >
      @if (show()) {
        Hide

      } @else {
        Show
      }
    </button>
  </div>
</div>
